.editor {
    display: grid;

    grid-template-rows:
        64px
        1fr;

    height: 100vh;

    background: #e6e8eb;
}

.editor-body {

    display: grid;

    grid-template-columns:
        300px
        1fr;
     min-height: 0;
    overflow: hidden;
}

.viewport {


    position: relative;

    flex: 1;

}
